---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de nosotros">
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
  >
    <div
      class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"
    >
    </div>
  </div>
</Layout>
<main class="mx-[5rem] w-fit px-20 grid h-[80vh] justify-center">
  <div class="text-justify">
    <div>
      <h1 class="text-3xl font-bold mt-16 text-center">
        Petixfy: La revolución de la atención veterinaria a tu alcance.
      </h1>
    </div>
    <div>
      <p>
        Petixfy: Somos la primera aplicación móvil que ofrece servicios
        veterinarios integrales a distancia, fundada por tres apasionados del
        bienestar animal: Axel Benítez, Carlos Augusto y Omar Bermejo.
      </p>
      <p>
        Nuestra misión es brindar atención médica veterinaria de calidad a todas
        las mascotas, sin importar la ubicación o el horario. Nuestra historia:
        La idea de Petixfy nació de la necesidad de democratizar el acceso a la
        salud animal.
        <p>
          Observamos que muchos propietarios de mascotas enfrentaban
          dificultades para acceder a la atención médica que sus animales
          necesitaban, ya sea por falta de tiempo, recursos o por vivir en zonas
          rurales con acceso limitado a servicios veterinarios. Nuestra visión:
          Creemos que todas las mascotas merecen una vida sana y feliz,
          independientemente de las circunstancias de sus dueños. Por eso, nos
          propusimos crear una aplicación móvil que facilitara el acceso a la
          atención veterinaria de calidad, utilizando la tecnología como
          herramienta para acercar a los mejores profesionales a cada hogar.
        </p>
        Nuestro equipo: Petixfy está compuesto por un equipo multidisciplinario de
        veterinarios, técnicos veterinarios, programadores y apasionados del mundo
        animal. Todos compartimos la misma visión y trabajamos con entusiasmo para
        ofrecer una experiencia excepcional a nuestros clientes y sus peludos compañeros.
        <p>
          Nuestros servicios: A través de la aplicación Petixfy, puedes acceder
          a una amplia gama de servicios veterinarios a distancia, incluyendo: <li
          >
            Consultas veterinarias online: Videollamadas con veterinarios
            certificados para resolver dudas, obtener diagnósticos y
            recomendaciones.
          </li>
          <li>
            Planes de prevención y bienestar: Programas personalizados para
            mantener la salud de tu mascota a través de chequeos periódicos,
            vacunación y desparasitación.
          </li>
          <li>
            Tienda online: Acceso a productos de calidad para el cuidado y la
            salud de tu mascota, con entrega a domicilio. Urgencias
            veterinarias: Servicio de atención 24/7 para casos de emergencia.
          </li>
        </p>
        Nuestro compromiso: En Petixfy, estamos comprometidos con la salud y el bienestar
        de tu mascota. Nos apasiona lo que hacemos y nos esforzamos por brindar un
        servicio de calidad, personalizado y accesible para todos. Únete a la comunidad
        Petixfy: Descarga la aplicación: https://fintech.global/2023/02/03/pet-care-app-fluffy-raises-450k-ahead-of-insurance-launch/
        Síguenos en redes sociales: [Nombre de la red social] - [Nombre de usuario]
        Visita nuestra página web: https://webixfy.com/ ¡Juntos construiremos un
        futuro más saludable y feliz para todas las mascotas! Petixfy: La mejor atención
        veterinaria, al alcance de tu mano.
      </p>
    </div>
  </div>
</main>
