---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de nosotros">
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
  >
    <div
      class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"
    >
    </div>
  </div>
  <main class="mx-[5rem] w-auto grid h-[80vh] justify-center">
    <div class="text-justify grid justify-self-center w-[90%] h-fit">
      <div class="w-[80%] place-self-center">
        <h1 class="text-3xl font-bold mt-16 text-center">
          Petixfy: La revolución de la atención veterinaria a tu alcance.
        </h1>
      </div>
      <div class="m-a w-[70%] place-self-center text-justify mt-6">
        <article class="w-auto">
          <div>
            <p>
              Actualmente, las personas buscan tener mascotas en lugar de hijos.
              Con el paso del tiempo , se ha observado un aumento en la cantidad
              de personas que cuentan con mascotas y las consideran parte de su
              familia. Tomando esto en cuenta, la razón de nuestro proyecto es
              entraren el mercado de las mascotas para brindar diversos
              servicios de calidad al alcance de un click.
            </p>
          </div>
          <div>
            <h3 class="mt-3 text-[20px] font-bold">Mision</h3>
            <p>
              Ser una empresa que se dedica a proporcionar soluciones
              tecnologicas en diversos sectores productivos en Culiacán. Nuestro
              sello distintivo es la calidad y la seguridad.
            </p>
          </div>
          <div>
            <h4 class="mt-3 text-[20px] font-bold">Visión</h4>
            <p>
              Colocarnos como una empresa reconocida en el ambito de la
              tecnologia a nivel local en los siguientes 5 años.
            </p>
          </div>
          <div>
            <h5 class="mt-3 text-[20px] font-bold">Valores</h5>
            <li>Compromiso</li>
            <li>Honestidad</li>
            <li>Puntualidad</li>
            <li>Respeto</li>
            <li>Solidaridad y Honestidad</li>
          </div>
          <div></div>
        </article>
      </div>
    </div>
  </main>
</Layout>
