---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <div
    class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <main class="mx-[5rem] w-auto grid justify-center">
    <div class="mt-24">
      <div>
        <h1 class="text-[25px] font-bold">
          Mandanos tu correo para saber todas la notificaciones
        </h1>
      </div>
      <div></div>
    </div>
  </main>
</Layout>
